<!-- Banner -->
<header>
  <img src="https://www.seekpng.com/png/full/694-6945460_banner-azul-png.png" class="slimband">
</header>

<!-- CRUD -->
<h1>New Article</h1>

<%= render "form", article: @article %>

